body{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
main{
  width: 100vw; height: 100vh;
  display: flex;
  justify-content: center;
}
main section{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in-out;
}
main section:hover{
  width: 100%;
}
main section p{
  font-size: 2rem;
  font-weight: bold;
  color: seashell;
  text-align: center;
  margin: 0; padding: 1rem 2rem;
  /* border: 1px solid red; */
}
main section:nth-child(1){
  background-color: yellowgreen;
}
main section:nth-child(2){
  background-color: brown;
}
main section:nth-child(3){
  background-color: yellow;
}
main section:nth-child(4){
  background-color: springgreen;
}
